/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'bootstrap'
 *= require_tree .
 */

html {
	/*background: transparent url(/assets/background.jpg) no-repeat center center fixed;*/
	/*background-size: cover;*/
	background: transparent url(/assets/logo-small.png);
/*	background-color: #333;
*/}

body {
	margin-top: 0 !important;
}

.customNav {
	font-size: 16px;
	padding: 10px;
	font-weight: 100;
	text-transform: uppercase;
	margin:0 auto;
	background-color: #48D1CC;
	position: fixed;
	z-index: 9999;
	border-bottom: 1px solid #333;
}

.logoNav {
	margin: 0 20px;
	width: 42px;
}

.customForm {
	background-color: Thistle;
	padding: 40px;
	border-radius: 10px;
}

.welcome {
	font-size: 30px;
	background: transparent url(/assets/background.jpg);
	background-size: cover;
	border-radius: 10px;
	height: 503px;
}

.customLogo {
	margin: 20px;
	width: 100px;
}

table {
	border: none !important;
}

th, td, thead {
    padding: 10px 0 10px 0 !important;
    border-bottom: 3px solid #FFF !important;
    vertical-align: middle !important;
}

.btn {
	font-family: helvetica, arial, sans-serif !important;
	font-size: 16px !important;
	font-weight: 100 !important;
}

.addNew {
	margin-left: 20px;
}

.search {
	font-size: 16px !important;
	width: 250px !important;
	height: 100% !important;
}

.container {
	background-color: #FFF;
	width: 100% !important;
	padding: 30px !important;
	margin-top: 29px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.col-md-4 .col-md-8 {
	padding: 0 !important;
	margin: 0 !important;
}

.dashboardBox {
	margin-bottom: 25px;
	padding: 40px;
	text-align: center;
	color: #333;
	text-transform: uppercase;
	border-radius: 10px;
	background-color: #DDD;
}

.dashboardTitle {
	font-size: 24px;
}

.dashboardCount {
	font-size: 80px;
	font-weight: bold;
}

.dashboardBox li {
	font-size: 18px;
	list-style: none;
}

.dashboardImage {
	margin-right: 10px !important;
}

.monitor {
	background: url(monitor.png) no-repeat center;
	height: 344px;
	background-color: #DDD;
}

.glyphicon {
	margin-right: 15px !important;
}

.pink {
	background-color: #FA8072;
}

.lightBlue {
	background-color: #5bc0de;
}

.blue {
	background-color: #428bca;
}

.red {
	background-color: #d9534f;
}

.green {
	background-color: #5cb85c;
}

.orange {
	background-color: #f0ad4e;
}

.gold {
	background-color: #FFD700;
}

