/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'bootstrap'
 *= require_tree .
 */

html {
	background: transparent url(/assets/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.customNav {
	background-color: rgba(255,255,255,0.5);
	font-size: 20px;
	border-radius: 5px;
	margin-bottom: 20px !important;
	padding: 10px;
	font-weight: 100;
}

.customNav li a {
	color: black !important;
	text-shadow: none !important;
}

.homeTable {
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
}

