<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<img class="pull-left" src="/assets/llc.png">
	</div>

	<% if user_signed_in? %>
		<ul class="nav nav-pills nav-justified pull-right customNav">
		 	<li><a href="/">Home</a></li>
			<li><a href="/mentors">Mentors</a></li>
			<li><a href="/events">Events</a></li>
			<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
		</ul>
	<% end %>

	<br>
	<br> 
	<br>
	<br>
</nav>